.yourUsers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    box-shadow: 0.5px 0.5px 0.5px var(--grayishBlue);
    border-radius: 20px;
    margin: 20px;
    padding: 20px 50px;
}
.urs-details{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.img{
    max-width: 400px;
}
.img img{
    width: 100%;
}
.yoursUsers .urs-details h1{
    font-size: 30px;
}
.yoursUsers .urs-details p{
    font-size: 18px;
    font-weight: 500;
}
