.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: var(--veryPaleCyan);
}

.navbar button{
    padding: 6px 18px;
    border-radius: 15px;
    border: ipx solid white;
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}
.navbar img{
    max-width: inherit;
    height: inherit;
}
@media screen and (max-width: 767px) {
    .navbar{
        padding: 10px 30px;
    }
    .navbar img{
        width: 120px;
        height: inherit;
    }
    .navbar button{
        padding: 4px 8px;
        font-size: 14px;
    }
}